<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<title>ADMIN PAGE</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light "
		style="background-image: url('Images/header-curl-bg.svg'); background-repeat: repeat-x; background-size: 50%; background-color: rgb(49, 49, 161)">
		<div class="container-fluid">
			<a class="navbar-brand text-white" href="#"><img
				src="Images/ipl-logo.png"
				style="height: 50px; width: 95px; position: relative;"> </a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active text-white"
						aria-current="page" href="/">HOME</a></li>
					<li class="nav-item"><a class="nav-link text-white"
						href="team">TEAM</a></li>
					<li class="nav-item"><a class="nav-link text-white"
						href="point_table">POINT TABLE</a></li>
					<li class="nav-item"><a class="nav-link text-white"
						href="venue">VENUES</a></li>
					<li class="nav-item"><a class="nav-link text-white"
						href="about">ABOUT US</a></li>

					<li class="nav-item"><a class="nav-link text-white"
						href="admin">Admin</a></li>


				</ul>
				<div>
					<form class="d-flex" role="search">
						<input class="form-control me-2" type="search"
							placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">Search</button>
					</form>
				</div>

			</div>
		</div>
	</nav>
	<div>
		<button type="button" class="btn btn-dark">
			<a href="add-rsk-players">Add RSK Players</a>
		</button>
		<button type="button" class="btn btn-dark">
			<a href="add-dc-players">Add DC Players</a>
		</button>
		<button type="button" class="btn btn-dark">
			<a href="add-gt-players">Add GT Players</a>
		</button>
		<button type="button" class="btn btn-dark">
			<a href="add-lsg-players">Add LSG Players</a>
		</button>
		<button type="button" class="btn btn-dark">
			<a href="add-mi-players">Add MI Players</a>
		</button>
		<button type="button" class="btn btn-dark">
			<a href="add-pk-players">Add PK Players</a>
		</button>
		<button type="button" class="btn btn-dark">
			<a href="add-rcb-players">Add RCB Players</a>
		</button>
		<button type="button" class="btn btn-dark">
			<a href="add-rr-players">Add RR Players</a>
		</button>
		<button type="button" class="btn btn-dark">
			<a href="add-kkr-players">Add KKR Players</a>
		</button>
		<button type="button" class="btn btn-dark">
			<a href="add-srh-players">Add SRH Players</a>
		</button>
		<button type="button" class="btn btn-dark">
			<a href="add-team">Add Teams</a>
		</button>
		<button type="button" class="btn btn-dark">
			<a href="get-point-table">Update Point Table </a>
		</button>
	</div>


	<div class="card-footer text-body-secondary"
		style="background-color: rgb(49, 49, 161); color: white;">
		<div class="ap-copy col-100 floatLft" style="padding-bottom: 15px;">
			<p class="mb-0 w-100 text-center">Copyright © IPL 2023 All Rights
				Reserved.</p>
		</div>
	</div>



	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>

</html>