<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet">

<title>Perfect11 Players List</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-dark">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active text-white"
						aria-current="page" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link text-white"
						href="team">Team</a></li>
					<li class="nav-item"><a class="nav-link text-white"
						href="point_table">Point Table</a></li>
					<li class="nav-item"><a class="nav-link text-white"
						href="venue">Venues</a></li>
					<li class="nav-item"><a class="nav-link text-white"
						href="about">About Us</a></li>
					
				</ul>
			</div>
		</div>
	</nav>
	<div>

		<h2 th:if="${#lists.size(perfect11) > 0}">Perfect11</h2>
		<div class="row" th:if="${#lists.size(perfect11) > 0}">
			
		</div>

	
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Player Name</th>
					<th>Roll</th>
					<th>Nation</th>
					<th>Team ID</th>


				</tr>
			</thead>
			<tbody>
				<tr th:each="player : ${perfect11}">
					
					<td th:text="${player.playerName}"></td>
					<td th:text="${player.roll}"></td>
					<td th:text="${player.nation}"></td>
					<td th:text="${player.teams.tid}"></td>
					
				</tr>
			</tbody>
		</table>
	</div>

</body>

</html>